@using Cast.Provider
@model IMedia
@{
    string state = Model.Status.ToString().ToLower();
}

<div class="media" data-status="@state" data-id="@Model.Id" style="background-image: url('@Model.Metadata.ImageUrl')">
    <div class="overlay">
        <div class="title">@Model.Name</div>
        @if (Model.Status == MediaStatus.Converting || Model.Status == MediaStatus.Unplayable || Model.Status == MediaStatus.MissingSubtitles)
        {
            <img src="/media/convert.svg" class="icon" height="50" width="50" />
            if (Model.Status == MediaStatus.MissingSubtitles)
            {
                <img src="/media/subtitles.svg" class="icon subtitles" height="14" width="18" />
            }
        }
        else if (Model.Status == MediaStatus.Queued)
        {
            <img src="/media/queued.svg" class="icon" height="50" width="50" />
        }
        else
        {
            <img src="/media/play.svg" class="icon" height="50" width="50" />
        }
        <div class="duration">
            @if(Model.Length > TimeSpan.FromMinutes(60))
            {
                @Model.Length.ToString(@"h\:mm\:ss")
            }
            else
            {
                @Model.Length.ToString(@"mm\:ss")
            }
        </div>
        @if (Model.Status == MediaStatus.Playable)
        {
            string resolutionTagPath = Model.Resolution == Xabe.FFmpeg.VideoSize.Hd1080 ? "/media/1080p.png" : "/media/720p.png";
            <img src="@resolutionTagPath" class="resolution" width="40" height="31" alt="tag" />
        }
    </div>
    @if (!Model.Metadata.HasImage)
    {
        <div class="firm title">@Model.Name</div>
    }
</div>