@{
    int size = 20;
}
<div class="media-player inactive">
    <div class="cast-title">No title</div>
    <div class="cast-progression">
        <span class="current">0:00:00</span>
        <input type="range" class="form-range" value="0">
        <span class="total">0:00:00</span>
    </div>
    <div class="cast-icons">
        <img class="previous" src="@Url.Content("~/media/previous.svg")" height="@size" width="@size"/>
       @* <img class="stop" src="@Url.Content("~/media/stop.svg")" height="@size" width="@size"/>*@
        <img class="playPause" src="@Url.Content("~/media/play.svg")" height="@size" width="@size"/>
        <img class="next" src="@Url.Content("~/media/next.svg")" height="@size" width="@size"/>
        @*<img class="speaker" src="@Url.Content("~/media/unmuted.svg")" height="@size" width="@size"/>*@
    </div>
</div>