@using Cast.Provider
@using Cast.App.TagHelpers
@model IMedia
@{
    string state = Model.Status.ToString().ToLower();
}

<div class="media" data-status="@state" data-id="@Model.Id" data-title="@Model.Name" style="background-image: url('@Model.Metadata.Backdrop')">
    <div class="overlay">
        <div class="title">@Model.Name</div>
        @if (Model.Status == MediaStatus.Converting || Model.Status == MediaStatus.Unplayable)
        {
            <smart-svg color="#FFFFFF" src="~/media/convert.svg" class="icon" height="50" width="50"></smart-svg>
        }
        else if (Model.Status == MediaStatus.Queued)
        {
            <smart-svg color="#FFFFFF" src="~/media/queued.svg" class="icon" height="50" width="50"></smart-svg>
        }
        else if (Model.Status == MediaStatus.Playable)
        {
            <smart-svg color="#FFFFFF" src="~/media/play.svg" class="icon" height="50" width="50"></smart-svg>
        }
        <div class="duration">
            @if(Model.Length > TimeSpan.FromMinutes(60))
            {
                @Model.Length.ToString(@"h\:mm\:ss")
            }
            else
            {
                @Model.Length.ToString(@"mm\:ss")
            }
        </div>
    </div>
</div>